<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="DefaultEndpointsProtocol=https;AccountName=az204storagejahohm3;AccountKey=QkzpA6w42GWlSwPoAuM+zA4wojCihYC4wMyzXNs1SfWJhDMLuh+zfFtpsqiXFYDogQkUZtEEmcBGZ0otkSdH7Q==;EndpointSuffix=core.windows.net" name="storageaccount"/>
	</connectionStrings>
	<appSettings>
		<add key="storageaccount" value="DefaultEndpointsProtocol=https;AccountName=az204storagejahohm3;AccountKey=QkzpA6w42GWlSwPoAuM+zA4wojCihYC4wMyzXNs1SfWJhDMLuh+zfFtpsqiXFYDogQkUZtEEmcBGZ0otkSdH7Q==;EndpointSuffix=core.windows.net"/>
	</appSettings>
</configuration>